.wholeBodyStyle {
  background: url("./photo_repository/IMG_WaterLily-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /*contain */
  background-position: center;
  width: 95%;
  height: 95%;
}

.banner {
  font-family: fantasy;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(19, 19, 92);
  background-color: rgb(175, 211, 201);
  padding: 2vw;
  width: 95%;
  margin: auto;
  border-radius: 1vw;
  border-style: ridge;
  border-color: rgb(175, 211, 201);
}

.bannerLink {
  font-size: large;
  color: rgb(19, 19, 92);
  float: inline-end;
  margin: 1vw 1vw 1vw 1vw;
}

.gridPersonalMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30%, auto);
  gap: 1%;
  padding: 1%;

  width: 90vw;
  height: 80vh;
}

.gridMyQuote {
  width: auto;
  height: auto;
  padding: 2vw;
  margin: auto;
  text-align: center;
  border: 0.5vw inset rgb(175, 211, 201);
  border-radius: 2vw;
  background-color: rgb(175, 211, 201);
  font-family: fantasy;
  font-weight: bolder;
  font-size: x-large;
  color: rgb(19, 19, 92);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gridMyPic {
  max-width: auto;
  max-height: auto;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  z-index: 1;
}

.myPic {
  width: auto;
  height: 25vh;
  border: 0.5vw inset rgb(175, 211, 201);
  border-radius: 2vw;
}

.gridMyIntro {
  width: auto;
  height: auto;
  padding: 2vw;
  margin: auto;
  text-align: center;
  border: 0.5vw inset rgb(175, 211, 201);
  border-radius: 2vw;
  background-color: rgb(175, 211, 201);
  font-family: fantasy;
  font-weight: bolder;
  font-size: x-large;
  color: rgb(19, 19, 92);

  z-index: 2;

  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gridMyPicAbout {
  max-width: auto;
  max-height: auto;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  z-index: 1;
}

.gridMyAbout {
  width: auto;
  height: auto;
  padding: 2vw;
  margin: auto;
  text-align: center;
  border: 0.5vw inset rgb(175, 211, 201);
  border-radius: 2vw;
  background-color: rgb(175, 211, 201);
  font-family: fantasy;
  font-weight: bolder;
  font-size: x-large;
  color: rgb(19, 19, 92);

  z-index: 2;

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gridMyPortfolio {
  width: auto;
  height: auto;
  padding: 2%;
  margin: 2% 2% 2% 2%;

  border: 1% inset rgb(175, 211, 201);
  border-radius: 3%;
  background-color: rgb(175, 211, 201);
  font-family: fantasy;
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(19, 19, 92);
}

.gridMyPortfolioPos1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gridMyPortfolioPos2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

img:hover,
a:hover {
  border: 0.5vw ridge rgb(5, 13, 98);
  border-radius: 1vw;
  padding: 0.5vw;
}

/* Add in the media query tests to shrink screen correctly */
@media only screen and (max-width: 480px) {
  .banner {
    font-size: small;
  }

  .bannerLink {
    font-size: x-small;
  }

  .gridMyQuote {
    font-size: small;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gridMyIntro {
    font-size: small;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gridMyAbout {
    font-size: small;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gridMyPortfolio {
    font-size: small;
  }
}

@media only screen and (min-width: 481px) {
  .banner {
    font-size: medium;
  }

  .bannerLink {
    font-size: small;
  }
  .gridMyQuote {
    font-size: medium;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gridMyIntro {
    font-size: medium;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gridMyAbout {
    font-size: medium;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gridMyPortfolio {
    font-size: medium;
  }
}

@media only screen and (min-width: 769px) {
  .banner {
    font-size: xx-large;
  }

  .bannerLink {
    font-size: large;
  }

  .gridMyQuote {
    font-size: x-large;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .gridMyIntro {
    font-size: x-large;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gridMyAbout {
    font-size: x-large;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gridMyPortfolio {
    font-size: x-large;
  }
}
